{# app/Resources/TwigBundle/views/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">Internal Server Error</h3>

        <div class="error-desc">
            The server encountered something unexpected that didn't allow it to complete the request. We apologize.<br>
            <a href="{{ path('home') }}">Retourner sur la page d'accueil</a>
            <p>
                Pour toute demande de support : <a href="mailto:nouestil.secretaria@gmail.com">nouestil.secretaria@gmail.com</a>
            </p>
        </div>
    </div>
{% endblock %}

