{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">Page Not Found</h3>

        <div class="error-desc">
            <p>
                La page que vous avez demandé n'existe pas.<br/>
                <a href="{{ path('home') }}">Retourner sur la page d'accueil</a>
            </p>
            <p>
                Pour toute demande de support : <a href="mailto:nouestil.secretaria@gmail.com">nouestil.secretaria@gmail.com</a>
            </p>
        </div>

    </div>
{% endblock %}