{% extends 'base-vitrine.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12030.018456284413!2d1.129167!3d41.07982!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x439cb1f6277c6e71!2sNou+Estil+-+escola+de+ball+-!5e0!3m2!1sfr!2sfr!4v1519726986618" width="100%" height="850" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
        <h2> Contact</h2>
        <p>MOVIL +34 637 49 66 79</p>
        <p>MAIL nouestil@gmail.com</p>
        <p>SECRETARÍA [mar.-mier.-vier.] 18h-20h</p>

        <form  class="form-group" action="" method="">
            <div class="form-group">
                <label class="control-label"><h2>Prénom<h2></label>
                <input class="form-control" type="text" id="contact_firstname_id">
                <label class="control-label"><h2>Nom</h2></label>
                <input class="form-control" type="text" id="contact_lastname_id">
                <label class="control-label"><h2>Email</h2></label>
                <input class="form-control" type="email" id="contact_email_id">
                <label class="control-label"><h2>Laissez-nous un message</h2></label>
                <input class="form-control" type="text" id="contact_form_id">
            </div>
            <input type="submit" id="contactform_submit_id" value="ok" class="btn btn-default">
        </form>
    </div>
</div>

{% endblock %}

