{% extends 'base-vitrine.html.twig' %}
{% block body %}
<div class="container-fluid">
    <div class="col-12" id="video_presentation">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lTgJSrbuORE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-12">
        <div class="col-md-4 ">
            <img src="{{ asset('images/estil-classic1.png') }}">
        </div>
        <div class="col-md-4">
            <img src="{{ asset('images/estil-social2.png') }}">
        </div>
        <div class="col-md-4">
            <img src="{{ asset('images/estil-urban1.png') }}">
        </div>
    </div>
    <div class="col-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12030.018456284413!2d1.129167!3d41.07982!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x439cb1f6277c6e71!2sNou+Estil+-+escola+de+ball+-!5e0!3m2!1sfr!2sfr!4v1519726986618" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="col-12">
        <div class="col-md-4">
            <h3> Contact</h3>
            <p>MOVIL +34 637 49 66 79</p>
            <p>MAIL nouestil@gmail.com</p>
            <p>SECRETARÍA [mar.-mier.-vier.] 18h-20h</p>
        </div>
        <div class="col-md-4">
            <h3>site map</h3>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="col-md-4">
           <form  class="form-control" action="" method="">
               <label>Newsletter</label>
               <input type="email" id="newsletter_id" value="Email">
               <input type="submit" id="newsletter_submit_id" value="s'abonner">
           </form>
        </div>
    </div>
</div>
{% endblock %}