{% extends 'layout.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="container">
        <p id="mentions" class=" wow animated fadeIn">{{ "showcase_privacy_policy_content"|trans|nl2br }}</p><br>
    </div>
{% endblock %}