{% extends 'layout.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="container">
        {#<p id="mentions" class=" wow animated fadeIn">{{ "showcase_privacy_policy_content"|trans|nl2br }}</p>#}
        <h1 class=" wow animated fadeIn">Nos mentions légales</h1>

        <p class=" wow animated fadeIn">Merci de lire attentivement les présentes modalités d&#39;utilisation du présent site avant de le parcourir.
            En vous
            connectant sur ce site, vous acceptez sans réserve les présentes modalités.</p>
        <br>
        <h2 class=" wow animated fadeIn">Editeur du site</h2>
        <p>        Nou Estil escola de ball,
            par Linda LAFFOURCADE
            c\Maria Castillo 2, local 3, 43840 Salou, Espagne
            Tél. : +34 637 49 66 79</p>
        <br>
        <h2 class=" wow animated fadeIn"> Conditions d'utilisation
        </h2>
        <p class=" wow animated fadeIn">Le site accessible par les url suivants : projet3iutbay.epizy.com est exploité dans le respect de la
            législation
            européenne. L&#39;utilisation de ce site est régie par les présentes conditions générales. En utilisant le
            site, vous
            reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront êtres
            modifiées à
            tout moment et sans préavis par la société Nou Estil.</p>
        <br>
        <h2 class=" wow animated fadeIn"> Responsable éditorial
        </h2>
        <p> Nou Estil escola de ball,
            par Linda LAFFOURCADE
            c\Maria Castillo 2, local 3, 43840 Salou, Espagne
            Tél. : +34 637 49 66 79</p>
        <br>

        <h2 class=" wow animated fadeIn"> Limitation de responsabilité
        </h2>
        <p> Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement remis
            à
            jour,
            mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous constatez une lacune,
            erreur
            ou ce qui parait être un dysfonctionnement, merci de bien vouloir le signaler par email en décrivant le
            problème
            de la manière la plus précise possible (page posant problème, action déclenchant, type d’ordinateur et de
            navigateur utilisé.
            Les photos présentes sur le site sont non contractuelles.
            Les liens hypertextes mis en place dans le cadre du présent site internet en direction d&#39;autres
            ressources
            présentes
            sur le réseau Internet ne sauraient engager la responsabilité de Nou Estil.</p>
        <br>

        <h2 class=" wow animated fadeIn"> Droit d'accès
        </h2>
        <p class=" wow animated fadeIn"> En application du règlement général des données personnelles, les internautes disposent d’un droit d’accès,
            de
            rectification, de modification et de suppression concernant les données qui les concernent personnellement.
            Ce
            droit peut être exercé par voie postale auprès de Nou Estil à c\Maria Castillo 2, local 3, 43840 Salou,
            Espagne
            ou par voie électronique à l’adresse email suivante :nouestil.secreatria@gmail.com.
            Les informations personnelles collectées ne sont en aucun cas confiées à des tiers.</p>
        <br>

        <h2 class=" wow animated fadeIn"> Confidentialité
        </h2>
        <p class=" wow animated fadeIn"> Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers et seront
            stockés pour une durée limité de 1an.</p>
        <br>

        <h2 class=" wow animated fadeIn"> Hébergeur
        </h2>
        <p class=" wow animated fadeIn"> OVH.com
            Plateforme de gestion et création de sites internet.</p>
        <br>
        <h2 class=" wow animated fadeIn"> Cookies
        </h2>
        <p class=" wow animated fadeIn">
            Pour des besoins de statistiques et d'affichage, le présent site utilise des cookies. Il s'agit de
            petits fichiers textes
            stockés sur votre disque dur afin d'enregistrer des données techniques sur votre navigation. Certaines
            parties de
            ce site ne peuvent être fonctionnelle sans l’acceptation de cookies.</p>
        <br>

        <h2 class=" wow animated fadeIn"> Contactez-nous
        </h2>
        <p class=" wow animated fadeIn"> Nou Estil est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous écrire en
            français par courrier électronique à : nouestil.secretaria@gmail.com</p>
        <br>
    </div>
{% endblock %}