{% extends 'layout.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="container">
        <p id="mentions" class=" wow animated fadeIn">Les informations et données personnelles recueillies sur ce site sont enregistrées dans un fichier client par L'école de danse Nou Estil pour permettre de contacter par mail ou par téléphone ses clients si nécessaire.
        Elles sont conservées pendant 1 ans et sont destinées au secrétariat et professeurs de l'école de danse Nou Estil.
            Vous pouvez exercer votre droit d'accès aux données vous concernant et les faire rectifier en contactant : Secrétariat Nou Estil, Salou, tel : +34 637 49 66 79, mail : nouestil.secretaria@gmail.com. </p><br>
    </div>
{% endblock %}