{% extends 'layout.html.twig' %}
{% block body %}
    <section class="padd-top-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Urba Estil<span class="text-thin"></span></h1>
                </div>
            </div>
            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8">
                    <h4>Hip hop</h4>
                    <p class="extra-small-content">Nivel iniciacion a avanzado (grupos de edades y niveles, incluyendo adultos principiantes)
                        Tambien hay grupos de competición infantil, junior, absoluta</p>
                </div>
                <div class="col-xs-4">
                    <h4></h4>
                    <p class="extra-small-content">A partir de 4 ans.</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8">
                    <h4>Popping</h4>
                    <p class="extra-small-content">Nivel iniciacion a avanzado (grupos de edades y niveles)</p>
                </div>
                <div class="col-xs-4">
                    <h4></h4>
                    <p class="extra-small-content">A partir de 12 ans.</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8">
                    <h4>House</h4>
                    <p class="extra-small-content">Nivel iniciación a intermedio (grupos de edades y niveles, incluyendo adultos principiantes)</p>
                </div>
                <div class="col-xs-4">
                    <h4></h4>
                    <p class="extra-small-content">A partir de 12 ans.</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8">
                    <h4>Break dance</h4>
                    <p class="extra-small-content">Nivel inciciación y intermedio (grupos de edades y niveles)</p>
                </div>
                <div class="col-xs-4">
                    <h4></h4>
                    <p class="extra-small-content">A partir de 6 ans.</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8">
                    <h4>Acrobacia</h4>
                    <p class="extra-small-content">Nivel inciciación (grupos de edades)
                        Un complemento perfecto para Hip Hop, Break y Comercial Dance</p>
                </div>
                <div class="col-xs-4">
                    <h4></h4>
                    <p class="extra-small-content">A partir de 6 ans.</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8">
                    <h4>Comercial dance</h4>
                    <p class="extra-small-content">El estilo de los video clips. Nivel inciciación y intermedio (grupos de edades y niveles)</p>
                </div>
                <div class="col-xs-4">
                    <h4></h4>
                    <p class="extra-small-content">A partir de 8 ans.</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8">
                    <h4>Freestyle</h4>
                    <p class="extra-small-content">Nivel iniciacion a avanzado (grupos de edades y niveles)</p>
                </div>
                <div class="col-xs-4">
                    <h4></h4>
                    <p class="extra-small-content">A partir de 8 ans.</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Classic Estil<span class="text-thin"></span></h1>
                </div>
            </div>
            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8">
                    <h4>Danza Creativa</h4>
                    <p class="extra-small-content">Ideal para que los más pequeños mejoren su psicomotricidad, conocimiento del espacio, y musicalidad mediante la danza.</p>
                </div>
                <div class="col-xs-4">
                    <h4></h4>
                    <p class="extra-small-content">A partir de 3 ans.</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8">
                    <h4>Iniciacion à la danza</h4>
                    <p class="extra-small-content">Una introducción al Ballet, adaptada a la edad y a la motricidad de los niños</p>
                </div>
                <div class="col-xs-4">
                    <h4></h4>
                    <p class="extra-small-content">A partir de 5 ans.</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8">
                    <h4>Ballet</h4>
                    <p class="extra-small-content">Nivel iniciación a intermedio (grupos de edades y niveles, incluyendo adultos principiantes)</p>
                </div>
                <div class="col-xs-4">
                    <h4></h4>
                    <p class="extra-small-content">A partir de 8 ans.</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8">
                    <h4>Contemporenao</h4>
                    <p class="extra-small-content">Nivel iniciación y intermedio (grupos de edades y niveles, incluyendo adultos principiantes)
                        Una danza en la que se busca expresar una idea, un sentimiento, una emoción… al igual que en el ballet, pero mezclando movimientos corporales propios.</p>
                </div>
                <div class="col-xs-4">
                    <h4></h4>
                    <p class="extra-small-content">A partir de 10 ans.</p>
                </div>
            </div>

        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Mon Estil<span class="text-thin"></span></h1>
                </div>
            </div>
            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8">
                    <h4>Afro</h4>
                    <p class="extra-small-content">Nivel iniciacion (grupos de edades, incluyendo adultos). Un baile muy completo, tanto para niños como para adultos, que trabaja lo que es el espacio, el tiempo, el ritmo y la coordinación.
                        En la danza afro todo el cuerpo se mueve!</p>
                </div>
                <div class="col-xs-4">
                    <h4></h4>
                    <p class="extra-small-content">A partir de 8 ans.</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8">
                    <h4>Fusion tribal/ bellydance</h4>
                    <p class="extra-small-content">La forma más divertida de mejorar tu salud! Mezclando ritmos modernos, la version Tribal es más moderna que la danza del vientre Oriental.</p>
                </div>
                <div class="col-xs-4">
                    <h4></h4>
                    <p class="extra-small-content">A partir de 15 ans.</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8">
                    <h4>Kizomba</h4>
                    <p class="extra-small-content">Solo o en pareja (no se necesita venir en pareja). La kizomba tonifica los sentidos, y puede eliminar gran parte de la tensión acumulada. Es un destructor de estrés!</p>
                </div>
                <div class="col-xs-4">
                    <h4></h4>
                    <p class="extra-small-content">A partir de 15 ans.</p>
                </div>
            </div>

            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8">
                    <h4>Latino</h4>
                    <p class="extra-small-content">Solo o en pareja (no se necesita venir en pareja). Salsa, merengue, bachata… todos son bailes latinos, ricos en ritmo y alegría, beneficiando al cuerpo como a la mente.</p>
                </div>
                <div class="col-xs-4">
                    <h4></h4>
                    <p class="extra-small-content">A partir de 15 ans.</p>
                </div>
            </div>
            <div class="row margin-t60 custom-grid">
                <div class="col-xs-8">
                    <h4>Electro swing</h4>
                    <p class="extra-small-content">Solo o en pareja (no se necesita venir en pareja)</p>
                </div>
                <div class="col-xs-4">
                    <h4></h4>
                    <p class="extra-small-content">A partir de 15 ans.</p>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </section>
{% endblock %}