{% extends 'layout.html.twig' %}
{% block body %}
<dic class="container">
    <div class="row">
        <img class="center-block planning" src="{{ asset('images/planning.jpg') }}">
    </div>
</dic>

{% endblock %}