{% extends 'layout.html.twig' %}
{% block body %}
<dic class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="center-block" id="planning" src="{{ asset('images/planning.jpg') }}">
        </div>
    </div>
</dic>

{% endblock %}