@font-face {
    font-family: CaviarDreams ;
    src: url(../fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: CharlotteScript;
    src: url(../fonts/CharlotteScript.otf);
}

/*index.html.twig*/

.body {
    background-color: white;
}

h1{
    font-family: CharlotteScript;
    font-size : 50px;
}

small{
    font-family: CaviarDreams;
    font-size : ;
}

.col-12 {
    margin-top : 30px;
    margin-bottom: 30px;
    min-height : 200px;
}

#video_presentation{
    text-align: center;
    padding : 0;
    top : 0 ;
}

.img-estil{
    display: block;
    text-align: center;
}

.social-ico {
    margin: 8px;
}

.logo__item {
    display: block;
    width: inherit;
    height: inherit;
    left : 50%;
}

header {
    background-color:  #6f5499;
}
.navbar{
    position : absolute;

}
.header__logo {
    width: 305px;
    max-width: 305px;
    height: auto;
    float: left;
    position: relative;
    /*z-index: 50;*/
    left : -100px;

}
#logoNouEstil{
    margin : 8px;
    width: 80%;
    max-width: 80%;
    height: auto;
}

.navigation {
    display: block;
    width: 100%;
    margin-top: -15px;
    text-align: right;
    font-weight: 600;
    position: relative;
    z-index: 40;
}

.nav__list {
    float: right;
}

ul, ol {
    list-style: none;
    padding: 0;
}

.video_container {
    position:relative;
    padding-bottom:56.25%;
    height:0;
    overflow:hidden;
}
.video_container iframe,
.video_container object,
.video_container embed {

    position:absolute;
    top:0;
    left:0%;
    width:100%;
    height:100%;
}

/*footer*/
footer{
    text-align: center;
    font-family: CaviarDreams;
    background-color: #6f5499;
    padding : 10px;
}

/*About Page*/
.rounded-circle{
    width: 100%;
    height : auto;
    border-radius : 50%;
}

/*Contact page*/

input[type="text"]#contact_form_id{
    Height : 350px;
}

label{
    width : 80%;
}