<h3> Bonjour {{ user.firstname }} ! <h3></h3>

    <p>Pour valider votre compte utilisateur, merci de vous rendre
        <a href="{{ path('confirmUser', {'token': user.confirmationToken , 'userId': user.id })}}"> sur ce lien </a> </p>

<p>Voici votre information de connection: <br />
identifiant: {{ user.username }} <br />
mot de passe: {{ password }}</p>

Cordialement,
L'équipe